html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
.page-wrapper {
	margin: 0 auto;
	width: 100%;
	font-family: font-family: 'Roboto', sans-serif;
}
header {
	width: 100%;
	margin: 0 auto;
	background-image: url("/img/ali-beach.jpg");
	background-size: cover;
	height:300px;
}
footer {
	font-size: 12;
	text-align: right;
	vertical-align: bottom;
	padding:20px;
}
h1, h2, 
h3, h4 {
	font-family: 'Roboto', sans-serif;
}
h1 {
	font-size: 50;
}
p, li {
	font-family: 'Arimo', sans-serif;
}
.header-text {
	color: #fff;
	padding:100px 30px 150px 30px;
	text-align: center;
}
.list-style-none {
	list-style: none;
}
nav > ul > li > a {
	color: #6f6d73;
	text-decoration: none;
	padding: 10px;
	background-color: #fff;
	text-align: center;
	float: right;
	width: 19%;
	max-width: 150px;
	margin-right: 2px;
	font-size: 12px;
}
aside > ul {
	list-style: none;
}
aside > ul > li {
	display: inline;
}
article {
	border-left: 1px solid #9BA9B6;
	padding: 30px;
	margin-left:100px;
}
aside {
	/*float: right;*/
	width: 80%;
	margin:0 auto;
	padding:10px;
}
.blog-date {
	width:70px;
	background-color: pink;
	padding:10px;
	color: #fff;
	text-decoration: bold;
}
.blog-title {
	margin-left:10px;
}
.blog-posts {
	margin-top: 50px;
	width:70%;
}
.blog-date {
	margin-left: -75px;
	float: left;
}
.blog-image {
	float: left;
	margin-right:20px;
	width: 100%;
}
.blog-content {
}
/*
.read-more {
	clear: left;
	text-align: right;
}
*/
.pages {
	text-align: right;
	padding-top: 20px;
}
/* Hover Styles */
a:hover {
	color: #6f6d73;
	text-decoration: none;
}