body {
	background-color: #92C8EA;
}
button {
	color: #fff;
	background-color: #000;
	border: 1px solid white;
	font-size: 12px;

}


/* Classes */
.center {
	text-align: center;
}
.line-below {
	border-bottom: 2px solid black;
}
.title {
	padding: 15px;
	margin: 10px;
	margin-top: 30px;
	font-size: 45px;
}
.row.cart {
	background-color: #b0d9f2;
}

.form-small {
width: 40px;
}