html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    margin: 0 auto;
    width: 80%;
    max-width: 1200px;
}

.row {
	width: 100%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
	width: 100%;
	float: left;
	padding: 10px;
}

.column.one-half {
	width: 50%;
}

.column.one-third {
	width: 33.3%;
}

.column.one-quarter {
	width: 25%;
}