body {
	background-color: #B2D0FE;
}

#weather-app {
	/*border:1px solid black;*/
	padding: 10px;
	margin: 0 auto;
	width: 50%;
	max-width: 500px;
	text-align: center;
	position: relative;
	float:left;
}
.day {
	width: 30%;
	display: inline-block;
	padding: 10px;
	max-width: 150px;
	text-align: center;
	background-color: #fff;
	opacity: .9;
	margin-left: 10px;
}
.day>p {
	font-size: 11px;
	line-height: 5px;
}
.day>h2 {
	font-size: 20px;
	font-weight: bold;
}
#map-canvas {
	width: 50%;
	height: 400px;
	margin: 0 auto;
	z-index: 0;
	/*position: absolute;*/
	/*top:0;
	left:0;*/
}
