<!DOCTYPE html>
<html ng-app="restaurantModule">
<head>
	<title>VegFriendly</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/box-sizing.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/veg-style.css">
</head>
<body ng-controller="RestaurantController as restCtrl">
	<div class="content-wrapper">
		<header>
			<nav>
				<ul>
					<li><a>About</a></li>
					<li><a>Contact</a></li>
				</ul>
			</nav>
			<!-- <img src="http://placehold.it/200x100" /> -->
			<h1><a href="vegfriendly.html">VegFriendly</a></h1>
			<h4 class="subtitle">Where vegetarians and friends can find a place to eat. </h4>
			
		</header>
		<main>
			<div >
				<h2>Search:</h2>
				<!-- filtering options -->
				<p>Price: [dropdown: low to high, etc.]</p>
				<div class="row">
					<div class="column one-half">
						<p>Food:</p>
						<ul class="review-checkboxes">
							<li><input ng-click="restaurantFilter('vietnamese')" type="checkbox" name="vietnamese" value="vietnamese">Vietnamese</li>
							<li><input ng-click="restaurantFilter('american')" name="american" value="american">American</li>
							<li><input ng-click="restaurantFilter('thai')" name="thai" value="thai">Thai</li>
						</ul>
					</div>
					<div class="column one-half">
						<p>Occasion</p>
						<ul class="review-checkboxes">
							<li><input type="checkbox" name="lunch" value="lunch">Lunch</li>
							<li><input type="checkbox" name="big-group" value="big-group">Big Group</li>
							<li><input type="checkbox" name="date" value="date">Date</li>
						</ul>
					</div>
					<p><input type="checkbox">Also good for meat-eating friends<p>

					<!-- <button ng-click="restCtrl.getRestaurants()">Search</button> -->
				</div>
			
				<div ng-repeat="restaurant in restCtrl.restaurants | filter:restaurantFilter" ng-if="restCtrl.restaurants">
					<img class='float-left clear thumb' src='http://placehold.it/100x100' />
					<div class="featured-box" >
						<h2>{{ restaurant.name }}</h2>
						<p>Location: {{ restaurant.address }}</p>
						<p>Veg-friendliness: {{ restCtrl.getAverage(restaurant, "vegfriendliness") }}</p>
						<p>Delicioussness: {{ restCtrl.getAverage(restaurant, "deliciousness") }}</p>
						<p>Has Vegan options? {{ restCtrl.getPercent(restaurant, "vegan-option") | number:0}}% said yes</p>
						<a href='vegfriendly-view.html'><button>View</button></a>
					</div>
				</div>

			</div>
			
		</main>
		<footer>
			<p>Copyright: Claire Osburn, 2015</p>
		</footer>
	</div> <!-- end "content wrapper" div -->

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
	<script type="text/javascript" src="js/restaurantModule.js"></script>
	<script type="text/javascript" src="js/searchModule.js"></script>

</body>
</html>