<!DOCTYPE html>
<html ng-app="restaurantModule">
<head>
	<title>VegFriendly</title>
	<link rel="stylesheet" type="text/css" href="css/normalize.css">
	<link rel="stylesheet" type="text/css" href="css/box-sizing.css">
	<link rel="stylesheet" type="text/css" href="css/grid.css">
	<link rel="stylesheet" type="text/css" href="css/veg-style.css">
</head>
<body ng-controller="RestaurantController as restCtrl">
	<div class="content-wrapper">
	<header>
		<!-- main navigation -->
		<nav>
			<ul>
				<li><a>About</a></li>
				<li><a>Contact</a></li>
			</ul>
		</nav>
		<!-- <img src="http://placehold.it/200x100" /> -->
		<h1><a href="vegfriendly.html">VegFriendly</a></h1>
		<h4 class="subtitle">Where vegetarians and friends can find a place to eat. </h4>

		
	</header>

	<main>
		<h1 ng-model="name">Vegeria</h1>
		<div ng-repeat="restaurant in restaurants | nameOfRestaurant:name" >
			<h3 class="subtitle">({{ restaurant.reviews.length }} reviews)</h3>
			<div class="row">
				<div class="view-box column one-half">
					<p>Veg-friendliness: {{ restCtrl.getAverage(restaurant, "vegfriendliness") }}</p>
					<p>Delicioiusness: {{ restCtrl.getAverage(restaurant, "deliciousness") }}</p>
					<p>Vegan options? {{ restCtrl.getPercent(restaurant, "vegan-option") | number:0 }}% said yes</p>
					<p>Flexible Menu? {{ restCtrl.getPercent(restaurant, "flexible") | number:0 }}% said yes</p>
					<p>Good for meat friends? {{ restCtrl.getPercent(restaurant, "meat") | number:0 }}% said yes</p>
					<p>Price: {{ restCtrl.getAverage(restaurant, "price") }}</p>
					<p>Casual - - - - - Fancy</p>
				</div>
				<div class="view-box column one-half">
					<div id="map-container" ng-init="restCtrl.initMap(restaurant)" class="map-container"></div>
								
					<div class="row">
						<p>{{ restaurant['address'] }}</p>
						<p>{{ restaurant['phone'] }}</p>
						<p class="column one-half">WEBSITE</p>
						<p class="column one-half">MENU</p>
					</div>
				</div>
			</div>
		</div>

		<div id="reviews">
			<h2 class="bottom-border">Reviews</h2>
			<div ng-repeat="restaurant in restaurants | nameOfRestaurant:name">
				<div ng-repeat="review in restaurant['reviews']" class="review-card bottom-border">
						<img class="prof float-left" src="http://placehold.it/100x100" />
						<p>{{ review['name'] }}</p>
						<p>{{ review['thoughts'] }}</p>
					</div>
			</div>
		</div>
		
	</main>
	<footer>
		<p>Copyright: Claire Osburn, 2015</p>
	</footer>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.js"></script>
	<script type="text/javascript" src="js/restaurantModule.js"></script>
	<script type="text/javascript" src="js/searchModule.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA4FaZJxWPYoRhCUvZaNp_L19IhdaLgURk"></script>
	<script type="text/javascript">
	"use strict";

		

	</script>

</body>
</html>